<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzt.tapm.mapper.DemandMapper">

    <insert id="insertDemand" parameterType="com.wzt.tapm.entity.DemandBean">
        INSERT INTO demand_info(title,project,ctime,ddl,cer,doer,priority,status) values (#{title},#{project},#{ctime},#{ddl},#{cer},#{doer},#{priority},#{status})
    </insert>

    <select id="select1DoingDemand" resultType="map" parameterType="String">
        SELECT * FROM demand_info where (cer = #{username} and status = 2) or (cer = #{username} and status = 4) or (cer = #{username} and status = 1)
    </select>

    <select id="select1DoneDemand" resultType="map" parameterType="String">
        SELECT * FROM demand_info where (cer = #{username} and status = 5) or (cer = #{username} and status = 6) or (cer = #{username} and status = 3)
    </select>

    <select id="select2DoingDemand" resultType="map" parameterType="String">
        SELECT * FROM demand_info where (doer = #{username} and status = 2) or (doer = #{username} and status = 4) or (doer = #{username} and status = 1)
    </select>

    <select id="select2DoneDemand" resultType="map" parameterType="String">
        SELECT * FROM demand_info where (doer = #{username} and status = 5) or (doer = #{username} and status = 6) or (doer = #{username} and status = 3)
    </select>

    <select id="select1Num1" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where cer = #{username} and status = 1
    </select>

    <select id="select2Num1" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where cer = #{username} and status = 2
    </select>

    <select id="select3Num1" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where cer = #{username} and status = 3
    </select>

    <select id="select4Num1" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where cer = #{username} and status = 4
    </select>

    <select id="select5Num1" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where cer = #{username} and status = 5
    </select>

    <select id="select6Num1" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where cer = #{username} and status = 6
    </select>

    <select id="select1Num2" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where doer = #{username} and status = 1
    </select>

    <select id="select2Num2" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where doer = #{username} and status = 2
    </select>

    <select id="select3Num2" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where doer = #{username} and status = 3
    </select>

    <select id="select4Num2" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where doer = #{username} and status = 4
    </select>

    <select id="select5Num2" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where doer = #{username} and status = 5
    </select>

    <select id="select6Num2" resultType="int" parameterType="String">
         SELECT COUNT(*) FROM demand_info where doer = #{username} and status = 6
    </select>

    <update id="updateAddress" parameterType="String">
        UPDATE demand_info set address = #{address} where demand_id = #{demand_id}
    </update>

    <update id="updateDocu" parameterType="String">
        UPDATE demand_info set docu = #{docu} where demand_id = #{demand_id}
    </update>

    <select id="selectDocu" resultType="String" parameterType="String">
        SELECT docu FROM demand_info where demand_id = #{demand_id}
    </select>

    <update id="updateStatus" parameterType="int">
        UPDATE demand_info set status = #{status} where demand_id = #{demand_id}
    </update>

    <insert id="insertLog" parameterType="com.wzt.tapm.entity.LogBean">
        INSERT INTO log_info(demand_id,project,ctime,cer,`commit`) values (#{demand_id},#{project},#{ctime},#{cer},#{commit})
    </insert>

    <select id="selectProject" resultType="String" parameterType="String">
        SELECT project FROM demand_info where demand_id = #{demand_id}
    </select>

    <select id="selectIdentity" resultType="int" parameterType="String">
        SELECT `identity` FROM user_info where username = #{username}
    </select>

</mapper>